.exploration-section {
  background-color: #265e71;
  text-align: center;
  padding: 50px;
}

.exploration-section h1 {
  font-size: 48px;
  margin-bottom: 10px;
  color: white;
}

.description {
  color: white;
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 20px;
}

.explore-centered-line {
  display: block;
  margin: 0 auto;
  left: 50%;
  height: 50px;
  width: 2px; /* Line width */
  border-left: 2px dashed white; /* Dashed line */
  transform: translateX(-50%);
}

.grid-5-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media (max-width: 960px) {
  .grid-5-columns {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .exploration-section {
    padding: 10px;
  }
}
