p {
  color: black;
}
.modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-container {
  background-color: #d9d9d9;
  margin: 10% auto;
  width: 80%;
  height: 60%;
  padding: 50px;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.modal-close-button {
  color: #d9d9d9;
  background-color: #d9d9d9;
  border: none;
  display: flex;
  margin-left: 1100px;
}

.close-icon {
  max-width: 40px;
}

.learning-button button {
  padding: 10px;
  border-radius: 15px;
  background-color: #f5e3e3;
  box-shadow: 5px 4px 0px 0px #000;
  min-width: 220px;
}

.learning-button h3 {
  font-size: 24px;
  padding: 0;
  margin: 10px;
  text-align: left;
}

.learning-button p {
  font-size: 15px;
  padding: 5px;
  font-weight: 500;
  margin-left: 10px;
  display: block;
  max-width: 80px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
}

#button-icon {
  display: block;
  margin: 0 auto;
}

.button-icon {
  max-width: 150px;
}

.modal-body h1 {
  color: white;
  margin: 0;
}

.modal-body h3 {
  font-size: 30px;
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 700;
  text-align: left;
  margin: 0;
}

#modal-tip {
  display: block;
}

.modal-tip {
  padding: 15px;
  background-color: #a1d0be;
}

.modal-tip p {
  font-style: medium;
  font-weight: 500;
}

.modal-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 50px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 14px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  border: 1px solid black;
}

.modal-button:hover {
  background-color: #005f6b;
  color: white;
  text-decoration: underline;
}

@media (max-width: 960px) {
  #button-icon {
    display: none;
  }

  .learning-button h3 {
    font-size: 19px;
    width: 150px;
  }
  .learning-button button {
    width: 110px;
    min-width: 170px;
  }

  .modal-container {
    width: 80%;
    height: 90%;
    padding: 20px;
  }

  .close-icon {
    max-width: 30px;
  }

  .modal-close-button {
    margin-left: 250px;
  }

  .modal-body p {
    font-size: 12px;
  }

  .modal-buttons {
    margin-top: 20px;
  }

  .modal-button {
    display: inline-block;
    padding: 10px 10px;
    margin: 5px 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 14px;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    border: 1px solid black;
  }
}
