/* Inspiration Section */
.inspiration-section {
  color: white;
}

.inspiration-section p {
  text-align: center;
  color: white;
}

.inspiration-section h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 10px;
}

.inspiration-section h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.inspiration-section a {
  color: white;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.inspiration-section a:hover {
  color: white;
}

/* Centered Line */
.inspiration-centered-line {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 2px; /* Line width */
  border-left: 2px dashed white; /* Dashed line */
  transform: translateX(-50%);
}

/* Communities Section */
.communities {
  background-color: #409295;
  padding: 60px;
}

/* Artists Section */
.artists {
  padding: 60px;
  background-color: #265e71;
}

/* List Items */
li {
  border-bottom: 1px solid white;
  padding: 5px;
}

li:hover {
  color: black;
  background-color: #265e71;
}

/* Grid Layout */
.grid-4-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.centered-line-bottom {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 2px; /* Line width */
  border-left: 2px dashed white; /* Dashed line */
  transform: translateX(-50%);
}

/* Media Queries */
@media (max-width: 960px) {
  .communities {
    padding: 15px;
  }

  .artists {
    padding: 10px;
  }

  .grid-4-columns {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
