.Intro {
  background-color: #a1d0be;
  padding: 50px;
}

.Intro h2 {
  text-align: left;
}

.intro-header {
  font-size: 40px;
  text-align: center;
}

.intro-summary {
  text-align: center;
}

.intro-para {
  font-weight: 400;
}

.intro-para.one {
  border-right: 1px solid black;
  padding-right: 30px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.triangle_down1 {
  display: block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .Intro {
    background-color: #a1d0be;
    padding: 20px;
    text-align: left;
  }

  .intro-header {
    margin: 10px;
  }
  .intro-summary {
    margin: 0;
  }

  .intro-para {
    font-size: 15px;
  }

  .intro-para.one {
    border: none;
  }

  .triangle_down1 {
    margin: 10px auto;
  }
}
