.Intro {
  background-color: #a1d0be;
  padding: 50px;
  text-align: center;
  height: 100vh;
}
h1 {
  font-size: 40px;
}

.intro-para {
  display: block;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .Intro {
    background-color: #a1d0be;
    padding: 20px;
    text-align: left;
  }

  .intro-para p {
    font-size: 18px;
  }

  .intro-para {
    margin-bottom: 30px;
  }
}
