.LearningJourney {
  background-color: white;
  text-align: center;
}

.learning-heading {
  padding: 60px;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
  font-style: light;
  font-size: 14px;
  opacity: 70%;
}

.LearningJourney h1 {
  font-size: 48px;
  margin: 10px auto;
}

.LearningJourney a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.LearningJourney a:hover {
  text-decoration: underline;
}

.img-responsive {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 46px;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.learn {
  display: inline-block;
  padding: 10px 20px;
  margin: 30px;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 14px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  border: 1px solid black;
}

.learn:hover {
  background-color: #005f6b;
  color: white;
  text-decoration: none;
}

.inspired {
  margin-top: 75px;
}

@media (max-width: 960px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  section {
    padding: 10px;
  }

  .subtitle {
    margin-bottom: 0;
  }

  .learning-heading {
    padding: 30px;
  }

  .LearningJourney h1 {
    margin: 10px auto;
  }

  .inspired {
    margin: 30px;
  }
}
